Navebsite/Web References/CreditWebService/CreditWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="IsValid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="details" type="tns:CreditCardDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CreditCardDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HolderName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardVerificationValue" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Month" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="IsValidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsValidResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Pay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="details" type="tns:CreditCardDetails" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amountDollar" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PayResult" type="tns:Transaction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Transaction">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AmountDollar" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="CardHolder" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Receiver" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Timestamp" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IsValidSoapIn">
    <wsdl:part name="parameters" element="tns:IsValid" />
  </wsdl:message>
  <wsdl:message name="IsValidSoapOut">
    <wsdl:part name="parameters" element="tns:IsValidResponse" />
  </wsdl:message>
  <wsdl:message name="PaySoapIn">
    <wsdl:part name="parameters" element="tns:Pay" />
  </wsdl:message>
  <wsdl:message name="PaySoapOut">
    <wsdl:part name="parameters" element="tns:PayResponse" />
  </wsdl:message>
  <wsdl:portType name="CreditWebServiceSoap">
    <wsdl:operation name="IsValid">
      <wsdl:input message="tns:IsValidSoapIn" />
      <wsdl:output message="tns:IsValidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Pay">
      <wsdl:input message="tns:PaySoapIn" />
      <wsdl:output message="tns:PaySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreditWebServiceSoap" type="tns:CreditWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsValid">
      <soap:operation soapAction="http://tempuri.org/IsValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pay">
      <soap:operation soapAction="http://tempuri.org/Pay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CreditWebServiceSoap12" type="tns:CreditWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsValid">
      <soap12:operation soapAction="http://tempuri.org/IsValid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pay">
      <soap12:operation soapAction="http://tempuri.org/Pay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreditWebService">
    <wsdl:port name="CreditWebServiceSoap" binding="tns:CreditWebServiceSoap">
      <soap:address location="http://localhost:11524/CreditWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CreditWebServiceSoap12" binding="tns:CreditWebServiceSoap12">
      <soap12:address location="http://localhost:11524/CreditWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>